:root {
  /* --------------------------------------------- Static ------------------------------------------------------- */
  --rosewater: #f5e0dc;
  --maroon: #eba0ac;
  --flamingo: #f2cdcd;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --success: #a6e3a1;
  --danger: #f38ba8;
  --warning: #f9e2af;
  --primary: #89b4fa;
  --primary-dark: #b4befe;
  --primary-light: #74c7ec;
  --shadow-opacity-static03: rgb(17 17 27 / 30%);
  --transition: all 0.25s;
  --transition-fast: all 0.1s;
  --transition-slow: all 0.4s;
  --radius: 10px;
}
