:root {
  /* --------------------------------------------- Static ------------------------------------------------------- */
  --rosewater: #f5e0dc;
  --maroon: #eba0ac;
  --flamingo: #f2cdcd;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --success: #a6e3a1;
  --danger: rgb(243 139 168);
  --warning: #f9e2af;
  --primary: rgb(137 180 250);
  --primary-dark: #b4befe;
  --primary-light: #74c7ec;
  --secondary: #94e2d5;
  --text1: #1e1e2e;
  --text2: #181825;
  --text3: #11111b;
  --text4: #cdd6f4;
  --text5: #11111b;
  --border1: #9399b2;
  --border2: #7f849c;
  --border3: #6c7086;
  --background1: #cdd6f4;
  --background2: #bac2de;
  --background3: #a6adc8;
  --background4: #1e1e2e;
  --primary-opacity03: rgb(137 180 250 / 30%);
  --primary-opacity01: rgb(137 180 250 / 10%);
  --shadow-opacity03: rgb(17 17 27 / 30%);
  --shadow-opacity01: rgb(17 17 27 / 10%);
  --transition: all 0.25s;
  --transition-fast: all 0.1s;
  --transition-slow: all 0.4s;
  --radius: 10px;
}
