.footerWrapper {
  display: flex;
  align-content: center;
  flex-direction: column;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 30px;

  user-select: none;

  border-radius: var(--radius);
  background: var(--background4);
  gap: 40px;
}

.topWrapFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  color: var(--text7);
  gap: 50px;
}

.linksIcon {
  display: flex;
  gap: 10px;

  align-items: center;

  > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    transition: var(--transition);
    white-space: nowrap;

    color: var(--text7);
    border-radius: 50%;
    background: var(--primary);
  }

  > a:hover {
    transition: var(--transition);

    background: var(--secondary);
  }

  > a svg {
    display: flex;
    align-items: center;

    width: 25px;
    height: 25px;
    fill: var(--text5);
  }
}

.linksInfo {
  display: flex;
  gap: 10px;

  > button {
    padding: 10px 15px;

    cursor: pointer;

    transition: var(--transition);

    white-space: nowrap;
    text-decoration: none;

    color: var(--text7);
    border: none;
    border-radius: var(--radius);
    background: transparent;
  }

  > button:hover {
    color: var(--secondary);
    background: var(--shadow-opacity03);
  }
}

.titleFooter {
  display: flex;
  gap: 10px;

  align-items: center;

  > img {
    width: 40px;
    height: 40px;
  }
}

@media screen and ( max-width: 1900px ) {
  .footerWrapper {
    max-width: 1200px;
  }
}

@media screen and ( max-width: 1800px ) {
  .footerWrapper {
    max-width: 1000px;
  }
}

@media screen and ( max-width: 1300px ) {
  .footerWrapper {
    max-width: 800px;
  }
}

@media screen and ( max-width: 1100px ) {
  .footerWrapper {
    max-width: 700px;
  }
}
