.notificationWrapper {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 20px;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 420px;
  padding: 5px;

  user-select: none;
  pointer-events: none;
  gap: 10px;
}
