.wrapperConf {
  align-items: center;
  justify-content: center;
}

.loadWrapper {
  display: flex;
  align-items: center;

  padding: 30px 80px;

  transition: var(--transition);

  border-radius: var(--radius);
  background: var(--dark-light);
  gap: 20px;
}

.loadWrapper p {
  white-space: nowrap;

  color: var(--light-dark);

  font-size: 20px;
}

.loadIcon {
  width: 50px;
  height: 50px;
}

.loadIcon circle {
  stroke: var(--primary);
}
