.wrapperInput {
	position: relative;
}

.input {
	padding: 10px 15px;
	border: none;
	border-radius: var(--radius);
	outline: none;
	background: var(--background1);
	transition: var(--transition);
	width: 100%;
	color: var(--text1);
	box-shadow: 0px 0px 0px 2px var(--primary);
}

.input:hover {
	box-shadow: 0px 0px 0px 3px var(--primary);
}

.inputOnFocus {
	box-shadow: 0px 0px 0px 3px var(--secondary);
	transition: var(--transition);
}

.inputOnFocus:hover {
	box-shadow: 0px 0px 0px 3px var(--secondary);
}

.inputPasswordOn {
	padding-right:40px;
	transition: var(--transition);
}

.inputOnError {
	box-shadow: 0px 0px 0px 3px var(--danger);
	transition: var(--transition);
}

.inputOnError:hover {
	box-shadow: 0px 0px 0px 3px var(--danger);
}

.visibilityIcon {
	background: transparent;
	outline: none;
	border: none;
	height: 25px;
	color: var(--text);
	position: absolute;
	top: 11px;
	right: 9px;
	transition: var(--transition);
	cursor: pointer;
}

.labelInput {
	position: absolute;
	font-size: 15px;
	top: 12px;
	left: 10px;
	user-select: none;
	pointer-events: none;
	padding: 0px 5px;
	transition: var(--transition);
}

.labelInputOn {
	transition: var(--transition);
	top: -26px;
	font-size: 17px;
	font-weight: 700;
	color: var(--text4);
}