.buttonWrapper {
	outline: none;
	border: none;
	background: var(--primary);
	color: var(--text4);
	border-radius: var(--radius);
	padding: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	transition: var(--transition);
	cursor: pointer;
	user-select: none;
}
.buttonWrapper:hover {
	transform: scale(1.02);
}

.buttonWrapperOn {
	transform: scale(0.97);
}

.buttonWrapperOn:hover {
	transform: scale(0.97); 
}
