.wrapperInput {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 15px;

  transition: var(--transition);

  color: var(--text1);
  border: none;
  border-radius: var(--radius);
  outline: none;
  background: var(--background1);
  box-shadow: 0 0 0 2px var(--primary);
}

.input:hover {
  box-shadow: 0 0 0 3px var(--primary);
}

.inputOnFocus {
  transition: var(--transition);

  box-shadow: 0 0 0 3px var(--secondary);
}

.inputOnFocus:hover {
  box-shadow: 0 0 0 3px var(--secondary);
}

.inputPasswordOn {
  padding-right: 40px;

  transition: var(--transition);
}

.inputOnError {
  transition: var(--transition);

  box-shadow: 0 0 0 3px var(--danger);
}

.inputOnError:hover {
  box-shadow: 0 0 0 3px var(--danger);
}

.visibilityIcon {
  position: absolute;
  top: 11px;
  right: 9px;

  height: 25px;

  cursor: pointer;
  transition: var(--transition);

  color: var(--text);
  border: none;
  outline: none;
  background: transparent;
}

.labelInput {
  position: absolute;
  top: 12px;
  left: 10px;

  padding: 0 5px;

  user-select: none;
  transition: var(--transition);
  pointer-events: none;

  font-size: 15px;
}

.labelInputOn {
  top: -26px;

  transition: var(--transition);

  color: var(--text4);

  font-size: 17px;
  font-weight: 700;
}
