.wrapperFormRegister {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 450px;
  padding: 50px;

  transition: var(--transition);
  text-align: center;

  border-radius: var(--radius);
  background-color: var(--background4);
  gap: 20px;
}

.title {
  color: var(--text4);

  font-size: 20px;
  font-weight: 600;
}

.buttonRegister {
  background-color: var(--secondary);
}

.cardWrap {
  align-items: center;
  flex-direction: row;

  padding: 10px 0;
}

.cardWrap p {
  user-select: none;
  white-space: nowrap;

  color: var(--text4);
}
