.wrapperAuth {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapperFormWrap {
  position: relative;

  display: flex;

  width: 100%;

  height: 800px;
}

.wrapperFormTop,
.wrapperFormBottom {
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  user-select: none;
  transition: var(--transition-slow);
  transform: scale(0.8);

  opacity: 0;
  border-radius: var(--radius);
  background: transparent;
}

.wrapperFormTop {
  top: -200px;
}

.wrapperFormBottom {
  top: 500px;
}

.wrapperFormOn {
  z-index: 1;
  top: 150px;

  user-select: inherit;
  transition: var(--transition-slow);
  transform: scale(1);

  opacity: 1;
}
