.wrapperProfile {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  border-radius: var(--radius);

  background: var(--background2);
}

.wrapperProfile > h2 {
  font-size: 30px;
}

.wrapperInfoProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-width: 400px;
}

.wrapperInfoProfile p {
  display: flex;
  gap: 20px;

  align-items: center;
}

.wrapperButton {
  display: flex;
  overflow: hidden;
  align-items: center;

  width: 100%;
  padding: 10px;

  cursor: pointer;

  color: var(--text1);
  border: none;
  border-radius: var(--radius);
  outline: none;

  background: var(--background3);
  gap: 20px;
}

.wrapperButton span {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapperChangePass {
  margin-top: 20px;
}

.changePassword {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  gap: 10px;
}

.changePassword p {
  margin-bottom: 20px;

  font-size: 20px;
}
