.wrapperCardMenu {
	position: relative;
	display: flex;
	color: var(--text4);
	padding: 10px;
	gap: 20px;
	cursor: pointer;
	user-select: none;
	transition: var(--transition);
}
.wrapperCardMenu:hover {
	color: var(--secondary);
	transition: var(--transition);
}

.iconWrap {
	z-index: 3;
	transition: var(--transition);
}

.iconOn {
	transform: scale(1.2);
	color: var(--primary);
}

.iconActive {
	transition: var(--transition);
	transform: translateX(-30px) scale(1.2);
}

.wrapperText {
	z-index: 1;
	font-size: 16px;
	opacity: 0;
	text-align: left;
	width: 20px;
	overflow: hidden;
	transform: translateX(-40px);
	transition: var(--transition);
}

.wrapperTextOn {
	width: 100%;
	transform: translateX(0px);
	transition: var(--transition);
	opacity: 1;
	
}

.wrapperCardMenuSelect{
	color: var(--primary);
	padding: 15px 10px;
}

.wrapperCardMenuSelect:hover{
	color: var(--primary);
}
