.wrapperLauncher {
	width: 100%;
	display: flex;
	height: calc(100vh - 80px);
	border-radius: 0px 15px 15px 0px;
	padding: 20px;
}

@media screen and (min-width: 2000px) {
	.wrapperLauncher {
		height: calc(100vh - 160px);
	}
}