
	
.wrapperFormRegister {
	background-color: var(--background4);
	padding: 50px;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	gap: 20px;
	width: 100%;
	max-width: 450px;
	text-align: center;
	transition: var(--transition);
	box-shadow: 0px 0px 5px var(--shadow-opacity01);
}

.title {
	font-size: 20px;
	font-weight: 600;
	color: var(--text4);
}

.buttonRegister {
	background-color: var(--secondary);
}

.cardWrap {
	flex-direction: row;
	padding: 10px 0px;
	align-items: center;
}

.cardWrap p {
	user-select: none;
	white-space: nowrap;
	color: var(--text4);
}