.wrapperHome {
  height: 100%;
  padding: 20px 0;
}

.titleHomeWrapper {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;

  width: 100%;

  padding: 75px 20px;

  user-select: none;

  color: var(--text3);

  border-radius: var(--radius);

  background: var(--background2);
  gap: 30px;
}

.frog {
  position: absolute;
  right: 50px;
  bottom: -50px;

  width: 150px;
  height: 150px;

  user-select: none;
  pointer-events: none;

  border: none;
}

.minecraft {
  position: absolute;
  top: 50px;
  left: 50px;

  width: 160px;
  height: 160px;

  animation: 2s ease-out infinite alternate minecraft;
}

@keyframes minecraft {
  0% {
    top: 50px;
  }

  100% {
    top: 80px;
  }
}

.wrapperServer {
  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: center;
}

.buttonServer {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  width: 100%;

  max-width: 400px;
  height: 200px;
  padding: 0;

  background: var(--primary-dark);
  box-shadow: 0 0 10px var(--primary-opacity01);

  font-size: 22px;
}

.buttonServer > p {
  position: absolute;
  bottom: 20px;
  left: 20px;

  padding: 5px 15px;

  color: var(--text5);
  border-radius: var(--radius);
  background: var(--primary-dark);
}

.buttonServer img {
  width: 100%;
  object-fit: cover;
  object-position: center center;

  border-radius: var(--radius);
}

.titleWrapper {
  display: flex;
  gap: 40px;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titleHomeWrapper h2 {
  display: flex;

  width: 100%;

  text-align: center;

  font-size: 40px;
  gap: 10px;
}

.logoTitle {
  color: var(--secondary);
}

.mainText {
  max-width: 700px;

  text-align: center;

  font-size: 20px;
}

.wrapperImage3d {
  min-width: 70px;
  height: 70px;
}

.wrapperInfo {
  //position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;

  border-radius: var(--radius);

  background: var(--background2);
  gap: 20px;
}

.wrapperInfo h2 {
  padding-left: 20px;

  user-select: none;

  font-size: 30px;
}

.wrapperMainInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;

  user-select: none;

  border-radius: var(--radius);
  gap: 20px;
}

.wrapperMainInfo > p {
  padding: 20px;

  text-align: justify;
  white-space: pre-wrap;

  color: var(--text5);

  font-size: 18px;
}

.firstColor,
.secondColor {
  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: left;

  border-radius: var(--radius);
  background: var(--mauve);
}

.secondColor {
  background: var(--flamingo);
}

.bottomWrapperFirst {
  padding: 40px;

  user-select: none;

  text-align: justify;

  color: var(--text5);
  border-radius: var(--radius);
  background: var(--pink);

  font-size: 20px;
}

.bottomWrapperSecond {
  position: relative;

  padding: 50px 40px 50px 200px;

  user-select: none;

  border-radius: var(--radius);
  background: var(--background2);

  font-size: 20px;
}

.bottomWrapperSecond p {
  color: var(--text1);

  font-size: 20px;
}

.helper {
  position: absolute;

  width: 18px;
  height: 18px;

  transition: var(--transition);

  animation: 4s linear infinite alternate color;

  border-radius: 50%;
  background: radial-gradient(circle, rgb(22 173 95 / 100%) 0%, rgb(201 215 49 / 100%) 100%);
  box-shadow: 0 0 3px rgb(201 215 49);
}

@keyframes color {
  0% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 0%, rgb(201 215 49 / 100%) 100%);
  }

  10% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 10%, rgb(201 215 49 / 100%) 90%);
  }

  20% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 20%, rgb(201 215 49 / 100%) 80%);
  }

  80% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 20%, rgb(201 215 49 / 100%) 80%);
  }

  90% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 10%, rgb(201 215 49 / 100%) 90%);
  }

  100% {
    background: radial-gradient(circle, rgb(22 173 95 / 100%) 0%, rgb(201 215 49 / 100%) 100%);
  }
}

.anim1 {
  top: 40px;
  left: 50px;

  animation: 1s ease-in infinite alternate save1;
}

.anim2 {
  top: 50px;
  left: 65px;

  animation: 1.3s ease-in infinite alternate save2;
}

.anim3 {
  top: 80px;
  left: 75px;

  animation: 1.4s ease-in infinite alternate save3;
}

.anim4 {
  top: 70px;
  left: 120px;

  animation: 1.1s ease-in infinite alternate save4;
}

.anim5 {
  top: 130px;
  left: 90px;

  animation: 1s ease-in infinite alternate save5;
}

@keyframes save1 {
  0% {
    top: 40px;
  }

  100% {
    top: 110px;
  }
}

@keyframes save2 {
  0% {
    top: 50px;
  }

  100% {
    top: 80px;
  }
}

@keyframes save3 {
  0% {
    top: 80px;
  }

  100% {
    top: 130px;
  }
}

@keyframes save4 {
  0% {
    top: 70px;
  }

  100% {
    top: 110px;
  }
}

@keyframes save5 {
  0% {
    top: 30px;
  }

  100% {
    top: 90px;
  }
}

.wrapperBuy {
  display: flex;
  flex-direction: column;

  max-width: 900px;
  margin: 0 auto;
  padding: 30px 60px;

  text-align: center;

  border-radius: var(--radius);

  background: var(--background2);
}

.wrapperBuy > p {
  padding: 20px 0;

  font-size: 55px;
}

.wrapperTitleBuy {
  display: flex;
  gap: 20px;

  align-items: center;
}

.wrapperTitleBuy img {
  width: 50px;
  height: 50px;
}

.buttonBuy {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 30px;

  white-space: nowrap;

  color: var(--text5);

  background: var(--mauve);

  font-size: 19px;
  font-weight: 500;
  gap: 10px;
}
