.wrapperNavBar {
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 200px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 65px;
  padding: 25px 10px 0;

  user-select: none;
  transition: var(--transition);
  text-align: center;

  border-radius: var(--radius);
  background: var(--background4);
}

.wrapperNavBarOn {
  max-width: 230px;

  transition: var(--transition);
}

.wrapperNavBarSmall {
  position: fixed;
  z-index: 3;
  top: 40px;
  right: 40px;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: auto;
  padding: 5px;

  user-select: none;
  transition: var(--transition);

  border-radius: var(--radius);
  background: var(--primary);
}

.wrapperNavBarSmallActive {
  padding: 0;

  border-radius: 50%;
}

.titleWrapper {
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px 5px 17px;

  user-select: none;

  color: var(--text7);
  gap: 15px;
}

.titleWrapper img {
  display: block;

  min-width: 35px;
  height: 35px;
}

.titleNavBar {
  overflow: hidden;

  width: 20px;

  user-select: none;
  transition: var(--transition);
  transform: translateX(-40px);
  text-align: left;

  opacity: 0;
  color: var(--text7);

  font-size: 18px;
  font-weight: 700;
}

.titleNavBarOn {
  width: 100%;

  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}

.wrapperInputTheme {
  display: flex;
}

.checkBox {
  padding: 5px 10px;

  cursor: pointer;

  border-radius: var(--radius);
  outline: none;
  background-color: var(--background6);
}

.menuLines {
  position: relative;

  width: 50px;
  height: 50px;

  transition: var(--transition);

  border-radius: 50%;

  span,
  span::after,
  span::before {
    position: absolute;
    top: 25px;
    left: 10px;

    width: 30px;
    height: 4px;

    transition: var(--transition);

    border-radius: var(--radius);

    background-color: var(--background8);
  }

  span::after {
    top: -10px;
    left: 0;

    content: "";
  }

  span::before {
    top: 10px;
    left: 0;

    content: "";
  }
}

.menuLinesActive {
  span::after {
    top: -5px;
    right: 0;
    left: auto;

    width: 17px;

    transition: var(--transition);
    transform: rotate(35deg);
  }

  span::before {
    top: 5px;
    right: 0;
    left: auto;

    width: 17px;

    transition: var(--transition);
    transform: rotate(-35deg);
  }
}

.wrapperNavMenu {
  display: flex;
  flex-direction: column;

  padding: 10px;

  transition: var(--transition);

  border-radius: var(--radius);
  background-color: var(--background4);
}

.wrapperNavMenuActive {
  width: 0;
  height: 0;
  padding: 0;

  transition: var(--transition);
  transform: scale(0);

  pointer-events: none;

  opacity: 0;
}

@media screen and ( max-width: 2000px ) {
  .wrapperNavBar {
    left: 70px;
  }
}

@media screen and ( max-width: 1600px ) {
  .wrapperNavBar {
    left: 50px;
  }
}
