.wrapperNavBar {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 200px;

  display: flex;
  align-items: left;
  flex-direction: column;

  width: 100%;
  max-width: 65px;
  padding: 25px 10px 0;

  user-select: none;
  transition: var(--transition);
  text-align: center;

  border-radius: var(--radius);
  background: var(--background4);
  box-shadow: 0 0 5px var(--shadow-opacity01);
}

.wrapperNavBarOn {
  max-width: 200px;

  transition: var(--transition);
}

.titleWrapper {
  position: relative;

  display: flex;

  padding: 10px;
  gap: 20px;

  color: var(--text4);
}

.titleNavBar {
  overflow: hidden;

  width: 20px;
  margin-bottom: 10px;

  user-select: none;
  transition: var(--transition);
  transform: translateX(-40px);

  opacity: 0;
  color: var(--text4);

  font-size: 18px;
  font-weight: 700;
}

.titleNavBarOn {
  width: 100%;

  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}

@media screen and ( max-width: 2000px ) {
  .wrapperNavBar {
    left: 70px;
  }
}

@media screen and ( max-width: 1600px ) {
  .wrapperNavBar {
    left: 50px;
  }
}
