.wrapperNavBar {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 200px;

  display: flex;
  align-items: left;
  flex-direction: column;

  width: 100%;
  max-width: 65px;
  padding: 25px 10px 0;

  user-select: none;
  transition: var(--transition);
  text-align: center;

  border-radius: var(--radius);
  background: var(--background4);
}

.wrapperNavBarOn {
  max-width: 230px;

  transition: var(--transition);
}

.titleWrapper {
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px 5px 17px;

  user-select: none;

  color: var(--text7);
  gap: 15px;
}

.titleWrapper img {
  display: block;

  min-width: 35px;
  height: 35px;
}

.titleNavBar {
  overflow: hidden;

  width: 20px;

  user-select: none;
  transition: var(--transition);
  transform: translateX(-40px);
  text-align: left;

  opacity: 0;
  color: var(--text7);

  font-size: 18px;
  font-weight: 700;
}

.titleNavBarOn {
  width: 100%;

  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}

@media screen and ( max-width: 2000px ) {
  .wrapperNavBar {
    left: 70px;
  }
}

@media screen and ( max-width: 1600px ) {
  .wrapperNavBar {
    left: 50px;
  }
}

.wrapperInputTheme {
  display: flex;
}

.checkBox {
  padding: 5px 10px;

  cursor: pointer;

  border-radius: var(--radius);
  outline: none;
  background-color: var(--background6);
}
