.wrapperConf {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadWrapper {
	position: absolute;
	background: var(--background4);
	border-radius: var(--radius);
	padding: 20px;
	display: flex;
	gap: 20px;
	align-items: center;
	text-align: left;
	width: min-content;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition);
	opacity: 0;
}

.loadWrapperOn {
	opacity: 1;
	transition: var(--transition);
	top: 50%;
}

.loadWrapper p {
	color: var(--text4);
	font-size: 18px;
	white-space: nowrap;
}

.loadicon {
	width: 50px;
	height: 50px;
}

.loadicon circle {
	stroke: var(--primary);
}

.loadWrapperAccess {
	position: absolute;
	background: var(--background4);
	border-radius: var(--radius);
	display: flex;
	padding: 20px;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	align-items: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition);
	opacity: 0;
}

.loadWrapperAccessOn {
	opacity: 1;
	transition: var(--transition);
	top: 50%;
}

.loadWrapperAccessOff {
	transition: var(--transition);
	opacity: 0;
	top: 80%;
}

.textName {
	display: flex;
	align-items: center;
	color: var(--text4);
	font-size: 35px;
}

.textName p {
	color: var(--secondary);
	font-size: 35px;
}

.textBottom {
	color: var(--text4);
	font-size: 16px;
}
