.wrapperCardInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 30px;
  gap: 20px;

  color: var(--text7);

  border-radius: var(--radius);
}

@media screen and ( max-width: 768px ) {
  .wrapperCardInfo {
    padding: 10px;

    border-radius: 0;
  }
}
