@import url("./styles");

@font-face {
  font-family: Manrope;
  font-weight: normal;
  font-style: normal;
  src:
    url("./fonts/otf/Manrope-Bold.otf") format("opentype"),
    url("./fonts/otf/Manrope-ExtraBold.otf") format("opentype"),
    url("./fonts/otf/Manrope-ExtraLight.otf") format("opentype"),
    url("./fonts/otf/Manrope-Light.otf") format("opentype"),
    url("./fonts/otf/Manrope-Medium.otf") format("opentype"),
    url("./fonts/otf/Manrope-Regular.otf") format("opentype"),
    url("./fonts/otf/Manrope-SemiBold.otf") format("opentype"),
    url("./fonts/woff/Manrope-Bold.woff2") format("woff"),
    url("./fonts/woff/Manrope-ExtraBold.woff2") format("woff"),
    url("./fonts/woff/Manrope-ExtraLight.woff2") format("woff"),
    url("./fonts/woff/Manrope-Light.woff2") format("woff"),
    url("./fonts/woff/Manrope-Medium.woff2") format("woff"),
    url("./fonts/woff/Manrope-Regular.woff2") format("woff"),
    url("./fonts/woff/Manrope-SemiBold.woff2") format("woff"),
    url("./fonts/ttf/Manrope-Bold.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-ExtraBold.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-ExtraLight.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-Light.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-Medium.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-Regular.ttf") format("truetype"),
    url("./fonts/ttf/Manrope-SemiBold.ttf") format("truetype");
}

* {
  font-family: Manrope, sans-serif;
}

body {
  overflow-y: overlay;

  transition: var(--transition);

  color: var(--text1);
  background: var(--background1);
}

body[data-theme="light"] {
  --secondary: #94e2d5;
  --text1: #1e1e2e;
  --text2: #181825;
  --text3: #11111b;
  --text4: #a6adc8;
  --text5: #11111b;
  --text6: #cdd6f4;
  --text7: #cdd6f4;
  --border1: #9399b2;
  --border2: #7f849c;
  --border3: #6c7086;
  --background1: #cdd6f4;
  --background2: #bac2de;
  --background3: #a6adc8;
  --background4: #1e1e2e;
  --background5: #11111b;
  --background6: #cdd6f4;
  --shadow-opacity03: rgb(17 17 27 / 30%);
  --shadow-opacity01: rgb(17 17 27 / 10%);
  transition: var(--transition);
}

body[data-theme="dark"] {
  --secondary: #fab387;
  --text1: #cdd6f4;
  --text2: #bac2de;
  --text3: #a6adc8;
  --text4: #a6adc8;
  --text5: #11111b;
  --text6: #11111b;
  --text7: #cdd6f4;
  --border1: #585b70;
  --border2: #45475a;
  --border3: #313244;
  --background1: #11111b;
  --background2: #181825;
  --background3: #1e1e2e;
  --background4: #1e1e2e;
  --background5: #cdd6f4;
  --background6: #cdd6f4;
  --shadow-opacity03: rgb(205 214 244 / 30%);
  --shadow-opacity01: rgb(205 214 244 / 10%);
  transition: var(--transition);
}

.page {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.page-enter {
  top: -300px;

  transform: scale(1.3);

  opacity: 0;
}

.page-enter-active {
  top: 0;

  transition: var(--transition);
  transform: scale(1);

  opacity: 1;
}

.page-exit {
  top: 0;

  transform: scale(1);

  opacity: 1;
}

.page-exit-active {
  top: 300px;

  transition: var(--transition);
  transform: scale(0.7);

  opacity: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;

  border-radius: 10px;
  background: var(--border1);
  scroll-behavior: smooth;
}

/* <div>
<iframe
src="https://giphy.com/embed/I1J3g7UzyNGL7NdULG"
width="100%"
height="100%">
</iframe> */

/*
<iframe
src="https://giphy.com/embed/r8GMmlV8qGrfZ3txfX"
width="480"
height="270"
frameBorder="0"
class="giphy-embed"
allowFullScreen>
</iframe> */
