.wrapperAuth {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrapperFormWrap {
	display: flex;
	position: relative;
	width: 450px;
	height:calc(100vh - 40px);
}

.wrapperFormTop, .wrapperFormBottom {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: var(--radius);
	background: transparent;
	transform: scale(0.8);
	opacity: 0;
	transition: var(--transition-slow);
	z-index: -1;
	user-select: none;
}

.wrapperFormTop {
	top: -200px;
}

.wrapperFormBottom {
	top: 500px;
}

.wrapperFormOn {
	top: 150px;
	transition: var(--transition-slow);
	transform: scale(1);
	opacity: 1;
	z-index: 1;
	user-select: inherit;
}


@media screen and (min-width: 2000px) {
	.wrapperAuth {
		height: 100vh;
	}
}