.wrapperHardcore {
  height: 100%;
}

.wrapperLife {
  align-items: center;

  user-select: none;
  gap: 50px;

  .wrapperInfo {
    display: flex;
    justify-content: space-between;

    width: 100%;

    .infoFirst {
      display: flex;
      align-items: center;
      flex-direction: column;

      max-width: 300px;
      gap: 10px;

      .minecraftInfo {
        display: flex;
        gap: 10px;

        > p {
          color: var(--text7);
        }
      }
    }

    .infoSecond {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      > h2 {
        color: var(--text7);
      }

      > h2:last-child {
        color: var(--secondary);
      }
    }
  }

  .wrapperHeart {
    position: relative;

    display: flex;

    padding: 40px 20px 20px;

    border-bottom: 3px solid var(--danger);

    svg {
      width: 80px;
      height: 80px;
    }

    p {
      position: absolute;

      color: var(--text7);

      font-size: 20px;
    }

    p:first-of-type {
      bottom: 3px;
      left: 3px;
    }

    p:last-of-type {
      right: 3px;
      bottom: 3px;
    }

    h3:first-of-type {
      position: absolute;
      top: 0;
      left: 0;

      color: var(--text7);

      font-size: 25px;
    }
  }
}

.wrapperServer {
  position: relative;

  user-select: none;

  h2 {
    text-align: center;

    font-size: 25px;
  }

  ul {
    display: flex;
    align-items: center;

    flex-direction: column;

    width: 100%;

    gap: 30px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;

      width: 100%;

      font-size: 18px;

      span {
        display: flex;

        width: 100%;
        max-width: 200px;
        height: 3px;

        border-radius: 50px;

        background: var(--primary);
      }
    }

    li:nth-of-type(2) > span {
      background: var(--danger);
    }

    li > p:first-of-type {
      color: var(--primary);
    }

    li:nth-of-type(2) > p:first-of-type {
      color: var(--danger);
    }
  }

  .icon {
    position: absolute;

    top: -30px;
    left: 250px;

    width: 65px;
    height: 65px;

    cursor: pointer;

    transition: var(--transition);
  }

  .icon:hover {
    transition: var(--transition);
    transform: scale(1.07);
  }

  .melon {
    top: 100px;
    left: -20px;
  }

  .carrot {
    top: auto;
    right: 50px;
    bottom: -20px;
    left: auto;
  }

  .berries {
    top: 20px;
    right: 200px;
    left: auto;
  }
}

.wrapperInfoHardcore {
  align-items: center;

  user-select: none;

  > h2 {
    font-size: 25px;
  }

  > p {
    padding-left: 20px;

    text-align: justify;

    border-left: 3px solid var(--secondary);

    font-size: 18px;
  }

  > span {
    width: 100%;

    text-align: left;

    > a {
      text-decoration: none;

      color: var(--primary-light);
    }
  }
}

.wrapperDownInfo {
  user-select: none;

  text-align: center;

  h2 {
    color: var(--text7);

    font-size: 25px;
  }

  > div {
    display: flex;

    align-items: center;

    gap: 20px;

    iframe {
      width: 300px;
      height: 200px;

      user-select: none;
      pointer-events: none;

      border: none;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 30px;

      div {
        align-items: center;
        flex-direction: row;
      }
    }

    p {
      color: var(--text7);

      font-size: 18px;
    }
  }
}

@media screen and ( max-width: 1300px ) {
  .wrapperLife {
    .wrapperHeart {
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media screen and ( max-width: 768px ) {
  .icon {
    display: none;
  }

  .wrapperInfoHardcore {
    > p {
      font-size: 16px;
    }

    > span {
      font-size: 13px;
    }
  }

  .wrapperServer {
    p {
      font-size: 16px;
    }
  }

  .wrapperDownInfo {
    > div {
      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and ( max-width: 700px ) {
  .wrapperLife {
    .wrapperHeart {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .wrapperDownInfo {
    > div {
      div {
        div {
          flex-direction: column;
        }
      }
    }
  }

  .wrapperServer {
    ul {
      li {
        span {
          max-width: 100px;
        }
      }
    }
  }
}

@media screen and ( max-width: 550px ) {
  .wrapperDownInfo {
    > div {
      flex-direction: column;
    }
  }

  .wrapperLife {
    .wrapperInfo {
      align-items: center;
      flex-direction: column-reverse;
      gap: 30px;

      .infoSecond {
        align-items: center;
      }
    }

    .wrapperHeart {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and ( max-width: 450px ) {
  .wrapperLife {
    .wrapperHeart {
      svg {
        width: 20px;
        height: 20px;
      }

      > p {
        font-size: 13px;
      }
    }
  }

  .wrapperServer {
    ul {
      li {
        flex-direction: column;

        span {
          display: none;
        }
      }
    }
  }

  .wrapperInfoHardcore {
    padding: 10px 30px;
  }
}
