.wrapperHardcore {
  height: 100%;
}

.wrapperLife {
  display: flex;

  align-items: center;
  flex-direction: column;

  padding: 30px;

  user-select: none;

  border-radius: var(--radius);

  background: var(--background4);
  gap: 50px;

  .wrapperInfo {
    display: flex;
    justify-content: space-between;

    width: 100%;

    .infoFirst {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      max-width: 300px;

      .minecraftInfo {
        display: flex;
        gap: 10px;

        > p {
          color: var(--text7);
        }
      }
    }

    .infoSecond {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      > h2 {
        color: var(--text7);
      }

      > h2:last-child {
        color: var(--secondary);
      }
    }
  }

  .wrapperHeart {
    position: relative;

    display: flex;

    padding: 40px 20px 20px;

    border-bottom: 3px solid var(--danger);

    svg {
      width: 80px;
      height: 80px;
    }

    p:first-of-type,
    p:last-of-type {
      position: absolute;
      bottom: 3px;
      left: 3px;

      color: var(--text7);

      font-size: 20px;
    }

    p:last-of-type {
      right: 3px;
      left: auto;
    }

    h3:first-of-type {
      position: absolute;
      top: 0;
      left: 0;

      color: var(--text7);

      font-size: 25px;
    }
  }
}

.wrapperServer {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 30px;

  user-select: none;

  color: var(--text7);

  border-radius: var(--radius);
  background: var(--background4);
  gap: 30px;

  h2 {
    text-align: center;

    font-size: 25px;
  }

  ul {
    display: flex;
    align-items: center;

    flex-direction: column;

    width: 100%;

    gap: 30px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;

      width: 100%;

      font-size: 18px;

      span {
        display: flex;

        width: 100%;
        max-width: 200px;
        height: 3px;

        border-radius: 50px;

        background: var(--primary);
      }
    }

    li:nth-of-type(2) > span {
      background: var(--danger);
    }

    li > p:first-of-type {
      color: var(--primary);
    }

    li:nth-of-type(2) > p:first-of-type {
      color: var(--danger);
    }
  }

  .icon {
    position: absolute;

    top: -30px;
    left: 250px;

    width: 65px;
    height: 65px;

    cursor: pointer;

    transition: var(--transition);
  }

  .icon:hover {
    transition: var(--transition);
    transform: scale(1.07);
  }

  .melon {
    top: 100px;
    left: -20px;
  }

  .carrot {
    top: auto;
    right: 50px;
    bottom: -20px;
    left: auto;
  }

  .berries {
    top: 20px;
    right: 200px;
    left: auto;
  }
}

.wrapperInfoHardcore {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 30px;

  color: var(--text7);

  border-radius: var(--radius);
  background: var(--background4);
  gap: 40px;

  > h2 {
    font-size: 25px;
  }

  > p {
    padding-left: 20px;

    text-align: justify;

    border-left: 3px solid var(--secondary);

    font-size: 18px;
  }

  > span {
    width: 100%;

    text-align: left;

    > a {
      text-decoration: none;

      color: var(--primary-light);
    }
  }
}

.wrapperDownInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 30px;

  user-select: none;

  text-align: center;

  border-radius: var(--radius);
  background: var(--background4);
  gap: 40px;

  h2 {
    color: var(--text7);

    font-size: 25px;
  }

  > div {
    display: flex;

    align-items: center;

    gap: 20px;

    iframe {
      width: 300px;
      height: 200px;

      user-select: none;
      pointer-events: none;

      border: none;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 30px;

      div {
        align-items: center;
        flex-direction: row;
      }
    }

    p {
      color: var(--text7);

      font-size: 18px;
    }
  }
}
