.wrapperCardMenu {
  position: relative;

  display: flex;

  padding: 10px;

  cursor: pointer;
  user-select: none;
  transition: var(--transition);

  color: var(--light);
  border: none;
  outline: none;
  background: none;
  gap: 20px;
}

.wrapperCardMenu:hover {
  transition: var(--transition-fast);

  color: var(--secondary);
}

.iconWrap {
  z-index: 3;

  transition: var(--transition);
}

.iconOn {
  transform: scale(1.2);

  color: var(--primary);
}

.iconActive {
  transition: var(--transition);
  transform: translateX(-30px) scale(1.2);
}

.wrapperText {
  z-index: 1;

  overflow: hidden;

  width: 20px;

  transition: var(--transition);
  transform: translateX(-40px);
  text-align: left;

  opacity: 0;

  font-size: 16px;
}

.wrapperTextOn {
  width: 100%;

  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}

.wrapperCardMenuSelect {
  padding: 15px 10px;

  color: var(--primary);
}

.wrapperCardMenuSelect:hover {
  color: var(--primary);
}
