.wrapperNotification {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  padding: 15px;

  transition: var(--transition);
  transform: translateX(-20px);

  opacity: 0;

  color: var(--text5);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--shadow-opacity03);
}

.wrapperNotificationOn {
  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}

.wrapperUpNotification {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  text-align: left;
  gap: 20px;
}

.notificationIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.notificationIcon svg {
  width: 30px;
  height: 30px;
}

.notificationIcon svg circle {
  stroke: var(--text5);
}

.text {
  width: 100%;

  word-break: break-word;

  color: var(--text5);

  font-size: 16px;
}

.buttonWrapperCancel {
  width: 35px;
  height: 35px;

  cursor: pointer;
  user-select: all;
  pointer-events: fill;

  border: none;
  border-radius: 50%;
  background: none;
}

.cancelIcon {
  min-width: 35px;
  min-height: 35px;
  padding: 5px;

  transition: var(--transition);

  color: var(--text5);
  border-radius: 50%;
}

.cancelIcon:hover {
  transition: var(--transition);

  background-color: var(--shadow-opacity03);
}

.wrapperActionButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
}

.actionButton {
  padding: 5px 10px;

  cursor: pointer;
  user-select: inherit;
  transition: var(--transition);
  pointer-events: fill;

  color: var(--text5);
  border: none;
  border-radius: var(--radius);
  outline: none;
  background: none;

  font-size: 18px;
  font-weight: 600;
}

.actionButton:hover {
  transition: var(--transition);

  background-color: var(--shadow-opacity03);
}

.timeline {
  position: absolute;
  bottom: 3px;
  left: 0;

  width: 100%;

  height: 6px;

  transition-timing-function: linear;
  transition-property: width;

  background: var(--background4);
}

.timelineOn {
  width: 0;

  transition-timing-function: linear;
  transition-property: width;
}
