.buttonWrapper {
  width: 100%;
  padding: 10px;

  cursor: pointer;
  user-select: none;
  transition: var(--transition);

  color: var(--text5);
  border: none;
  border-radius: var(--radius);
  outline: none;

  font-size: 18px;
  font-weight: 500;
}

.buttonWrapper:hover {
  transform: scale(1.02);
}

.buttonWrapperOn {
  transform: scale(0.97);
}

.buttonWrapperOn:hover {
  transform: scale(0.97);
}
