* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Robot" sans-serif;
}

body {
  background-color: white;
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
