.wrapperCardMenu {
  position: relative;

  display: flex;

  padding: 10px;

  cursor: pointer;
  user-select: none;
  transition: var(--transition);

  color: var(--light);
  border: none;
  outline: none;
  background: none;
  gap: 20px;
}

.iconWrap {
  display: flex;
  align-items: center;

  width: 25px;
  height: 30px;

  transition: var(--transition);
}

.wrapperText {
  display: flex;
  overflow: hidden;
  align-items: center;

  width: 20px;

  transition: var(--transition);
  transform: translateX(-40px);
  text-align: left;

  opacity: 0;

  font-size: 16px;
  gap: 20px;
}

.wrapperTextOn {
  width: 100%;

  transition: var(--transition);
  transform: translateX(0);

  opacity: 1;
}
