.checkMenuOff {
	transition: var(--transition);
	opacity: 0;
	
}

.checkMenuWrapper {
	position: absolute;
	left: 5px;
	transition: var(--transition);
	width: 55px;
	height: 55px;
}

.wrapperCircle {
	position: relative;
	transition: var(--transition);
	width: 100%;
	height: 100%;
}

.checkMenu {
	position: absolute;
	width: 55px;
	height: 55px;
	left: 0px;
	background-color: var(--background4);
	border-radius: 50%;
	box-shadow: 0px 0px 0px 6px var(--background1);
	transition: var(--transition);
	z-index: 2;
}

.checkMenuOn {
	left: -25px;
	transition: var(--transition);
}

.checkMenuTop {
	position: absolute;
	width: 119%;
	height: 10px;
	top: -16px;
	left: -5px;
	background-color: var(--background4);
	border-radius: 0px 0px 10px 10px;
	z-index: 1;
	transition: var(--transition);
}

.checkMenuMain {
	position: absolute;
	width: 200%;
	height: 85px;
	top: -15px;
	left: -30px;
	background: var(--background1);
	z-index: 0;
	transition: var(--transition-slow);
	border-radius: 15px;
}

.checkMenuBottom {
	position: absolute;
	width: 119%;
	height: 10px;
	bottom: -16px;
	left: -5px;
	background-color: var(--background4);
	border-radius: 10px 10px 0px 0px;
	z-index: 1;
	transition: var(--transition);
}

.checkMenuTopOn {
	width: 20px;
	height: 12px;
	left: 25px;
	transition: var(--transition);
}

.checkMenuMainOn {
	width: 55px;
	height: 55px;
	left: 0px;
	top: 0px;
	border-radius: 50%;
	transition: var(--transition);
}

.checkMenuBottomOn {
	width: 20px;
	height: 12px;
	left: 25px;
	transition: var(--transition);
}