.checkMenuOff {
  transition: var(--transition);

  opacity: 0;
}

.checkMenuWrapper {
  position: absolute;
  left: 5px;

  width: 55px;
  height: 55px;

  transition: var(--transition);
}

.wrapperCircle {
  position: relative;

  width: 100%;
  height: 100%;

  transition: var(--transition);
}

.checkMenu {
  position: absolute;
  z-index: 2;
  left: 0;

  width: 55px;
  height: 55px;

  transition: var(--transition);

  border-radius: 50%;
  background-color: var(--background4);
  box-shadow: 0 0 0 6px var(--background1);
}

.checkMenuOn {
  left: -25px;

  transition: var(--transition);
}

.checkMenuTop {
  position: absolute;
  z-index: 1;
  top: -16px;
  left: -5px;

  width: 119%;
  height: 10px;

  transition: var(--transition);

  border-radius: 0 0 10px 10px;
  background-color: var(--background4);
}

.checkMenuMain {
  position: absolute;
  z-index: 0;
  top: -15px;
  left: -30px;

  width: 200%;
  height: 85px;

  transition: var(--transition-slow);

  border-radius: 15px;
  background: var(--background1);
}

.checkMenuBottom {
  position: absolute;
  z-index: 1;
  bottom: -16px;
  left: -5px;

  width: 119%;
  height: 10px;

  transition: var(--transition);

  border-radius: 10px 10px 0 0;
  background-color: var(--background4);
}

.checkMenuTopOn {
  left: 25px;

  width: 20px;
  height: 12px;

  transition: var(--transition);

  border-radius: 0 0 0 10px;
  box-shadow: -5px 3px 0 var(--background1);
}

.checkMenuMainOn {
  top: 0;
  left: 0;

  width: 55px;
  height: 55px;

  transition: var(--transition);

  border-radius: 50%;
}

.checkMenuBottomOn {
  left: 25px;

  width: 20px;
  height: 12px;

  transition: var(--transition);

  border-radius: 10px 0 0;
  box-shadow: -5px -3px 0 var(--background1);
}
