.wrapperInputTheme {
  padding: 5px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.checkBox {
  position: relative;

  width: 45px;
  height: 20px;

  transition: var(--transition);

  border-radius: 50px;
  background: var(--secondary);
}

.checkBox label {
  position: absolute;
  top: -5px;
  left: -5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;
  transition: var(--transition);

  border: 2px solid var(--secondary);
  border-radius: 50px;
  background: var(--background4);
}

.icon {
  display: block;

  width: 20px;
  height: 20px;
}

.checkBox input[type="checkbox"]:checked + label {
  left: 20px;
}
